@tailwind base;

@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {

  .bg-113 {
    background-color: #000113
  }

}


.post p {
  text-align: justify;
}
/* 
.post h2 {
  font-size: 1.2rem !important;
  @apply pb-2 pt-3;
} */

/* .post h3 {
  font-size: 1.1rem !important;
  @apply pb-2 pt-3;
} */

.post a {
  @apply underline !important;
}

.post a:hover {

  @apply text-red-500 !important;
}


/* h1::before,
h2::before,
h3::before,
h4::before,
h5::before {
  content: '# ';
} */