---
eleventyExcludeFromCollections: true
title: Contact
layout: html.njk
---
<div class="container   max-w-md px-4 mx-auto grid grid-cols-1 sm:grid-cols-2 gap-y-5  sm:gap-y-8 ">

    <div class="block pr-5 sm:text-right">
        <p class="text-2xl font-bold pr-7">Email</p>
    </div>
    <ul>
        <li>
            <a href="mailto:eynol@qq.com">eynol@qq.com</a>
        </li>
        <li>
            <a href="mailto:eynol@outlook.com">eynol@outlook.com</a>
        </li>
    </ul>
    <div class="block pr-5 sm:text-right">
        <p class="text-2xl font-bold pr-7">WeChat</p>
    </div>
    <ul>
        <li>
            <div class="w-24 h-24 sm:mt-2 object-contain">
                <img src="/img/wechat.png"/>
            </div>
        </li>

    </ul>

</div>