---
eleventyExcludeFromCollections: true
title: KAI TAO
layout: html.njk
---

{# {{ cotent }} #}
{# <ul>
    {%- for post in collections.all | reverse -%}
        <li>
            <span class="font-mono font-thin">{{post.data.date | timeFormat('ddd YYYY/MM/DD')}}</span>
            <a href="{{post.url}}">{{ post.data.title  }}</a>
        </li>
    {%- endfor -%}
</ul> #}
<div class="relative object-cover m-auto">
    <img src="/img/steel-exit.png"  />
    <div class="absolute left-3 sm:left-9 bottom-3 sm:bottom-6 text-white text-sm sm:text-base">
        <p>仙女山国家森林公园 - 武隆，重庆</p>
        <p>2021-05-02</p>
    </div>
</div>