---
layout: html
eleventyExcludeFromCollections: true
title: OOPS
permalink: offline.html
---

<div class="container max-w-md mx-auto">
    <div>OOOOps</div>
    <p>You are offline, please check your network</p>
</div>