---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/1.8 $helvetica;
  color: $black;
}

.container {
  margin: 0 auto;
  max-width: 980px;
  max-width: 75vw;
  padding: 0 10px;
  width: 100%;
  @include bigscreen{
    max-width: 980px;
  }
}

.nav-container {
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $gray;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: #a2acf9;
}
::selection {
  color: $white;
  background: #a2acf9;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  padding-top: 65px;
  position: sticky;
  top: -65px;
}

.masthead {
  padding: 20px 0;
  // @include mobile {
  //   text-align: center;
  // }
}


.site-name {
  position: fixed;
  top: 0px;
  left: 0px;
  
  margin: 4.5vw;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  opacity: 0.3;

  &:hover,
  & a:hover{
    opacity: 1;
  }
  
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  font-family: $helveticaNeue;
  font-size: 14px;
  text-transform: capitalize;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
    &:hover{
      color: currentColor;
      opacity: 1;
    }
    &.top-left{
      position: fixed;
     
      // transform: rotateZ(90deg);
      transform-origin: left top;
      left: -0.4em;
      top: 0;
      margin: 4.5vw;
    }
    &.top-right{
      position: fixed;
     
      transform: rotateZ(90deg);
      transform-origin: left top;
      right: -4em;
      top: 0;
      margin: 4.5vw;
    }
    &.bottom-left{
      position: fixed;
      bottom: 0;
      left: 0;
      transform: rotateZ(-90deg);
      transform-origin: left top;
      margin: 4.5vw;
    }
  }
}

//
// .main
//

.posts > .mini {
  margin: 25px 0 ;
  
  .time {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 400;
  }

  .title{
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
    text-transform: none;
    font-weight: 400;
    margin: .5em 0;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}

.mini a{
  color: $black;
  
  &:hover, &:active {
    color: $gray;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  .post-header{
    text-align: center;
  }
  p{
    line-height: 2em;
    text-align: justify;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  padding-bottom: 65px;

}

footer {
  padding: 20px 0;
  text-align: center;

 
  & > p {
    float: left;
  }
  a{
    font-size: 14px;
    color: #000;
    opacity: 0.3;
    margin: 0 6px;
    transition: color ease-out .3s;
    svg{
      width:24px;
      height: 24px;
    }
    &:hover, &:focus{
      opacity: 1;
    }
  }
}
// .hover-effect{
//   &:hover {
//     color: #bbb;
//   }
// }

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
