---
title: Work
permalink: /work/
layout: html
eleventyExcludeFromCollections: true
---

<div class="container max-w-lg px-4 mx-auto post">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-y-6  gap-x-2">
        <a class="sm:text-right -mb-5 sm:mb-0" href="https://eynol.github.io/hitokoto-pwa/">hitokoto-pwa</a>
        <div class="col-span-2">A beautiful "one word" quote web displayer</div>
        <a class="sm:text-right -mb-5 sm:mb-0" href="https://eynol.github.io/bookmarkmerge/">bookmark merge</a>
        <div class="col-span-2">Merge exported browser bookmarks file into one</div>
    </div>
</div>