---
title: Work
permalink: /work/
layout: html
eleventyExcludeFromCollections: true
---

<div class="container max-w-md px-4 mx-auto post">
    <div class="space-y-6">
        <p>
            <a href="https://eynol.github.io/bookmarkmerge/"> bookmark merge</a>  -- merge exported browser bookmarks file into one
        </p>
    </div>
</div>