<span class="hover-effect">
{% if site.footer-links.email %}
<a href="mailto:{{ site.footer-links.email }}" title="{{ site.footer-links.email }}">Email</a>{% endif %}
{% if site.footer-links.dribbble %}
<a href="https://dribbble.com/{{ site.footer-links.dribbble }}" title="{{ site.footer-links.dribbble }}">DRIBBBLE</a>
{% endif %}
{% if site.footer-links.weibo %}
<a href="https://weibo.com/p/{{ site.footer-links.weibo }}" title="{{ site.footer-links.weibo }}">微博</a>
{% endif %}
{% if site.footer-links.facebook %}
<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" title="{{ site.footer-links.facebook }}">Facebook</a>
{% endif %}
{% if site.footer-links.flickr %}
<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" title="{{ site.footer-links.flickr }}">FLICKR</a>
{% endif %}
{% if site.footer-links.github %}
<a href="https://github.com/{{ site.footer-links.github }}" title="{{ site.footer-links.github }}">GitHub</a>
{% endif %}
{% if site.footer-links.instagram %}
<a href="https://instagram.com/{{ site.footer-links.instagram }}" title="{{ site.footer-links.instagram }}">Instagram</a>
{% endif %}
{% if site.footer-links.linkedin %}
<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" title="{{ site.footer-links.linkedin }}">LinkedIn</a>
{% endif %}
{% if site.footer-links.pinterest %}
<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" title="{{ site.footer-links.pinterest }}">Pinterest</a>
{% endif %}
{% if site.footer-links.rss %}
<a href="{{ site.baseurl }}/feed.xml">RSS</a>
{% endif %}
{% if site.footer-links.twitter %}
<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" title="{{ site.footer-links.twitter }}">Twitter</a>
{% endif %}
{% if site.footer-links.stackoverflow %}
<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" title="{{ site.footer-links.stackoverflow }}">StackOverflow</a>
{% endif %}
{% if site.footer-links.youtube %}
<a href="https://youtube.com/{{ site.footer-links.youtube }}" title="{{ site.footer-links.youtube }}">YouTube</a>
{% endif %}
{% if site.footer-links.googleplus %}
<a href="https://plus.google.com/{{ site.footer-links.googleplus }}" title="{{ site.footer-links.googleplus }}">Google+</a>
{% endif %}
</span>