---
layout: html.njk
---
<div class="max-w-screen-md mx-auto px-4 ">
    <div class="font-bold font-serif text-5xl">
        <span>{{title}}</span>
    </div>

    <div class="font-thin font-sans text-sm my-5">
        {% for tag in tags %}
            <span>{{tag}} |</span>
        {% endfor %}
        <span>Posted on {{ date | timeFormat('ddd YYYY-MM-DD hh:mm')}}</span>

        {% if data.date %}, and last modified on 
        <span>{{  data.date | timeFormat('ddd YYYY-MM-DD hh:mm')}}</span>
        {% endif %}
    </div>
    <div class="font-thin font-sans text-sm my-5"></div>
    <div class="post">
        {{content|safe}}
    </div>
</div>