
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #616161;
$pureblack: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #bbb;
$lightGray: #eee;
$purewhite: #fff;
$white: #fafafa;
// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin bigscreen {
  @media screen and (min-width: 1366px) {
    @content;
  }
}