{% set navdata = [
    {
        name: 'Index',
        url: '/'
    }, {
        name: 'Archive',
        url: '/archive/'
    }, {
        name: 'Works',
        url: '/work/'
    }, {
        name: 'About',
        url: '/about/'
    }
] %}
<div class="container mx-auto px-4 py-10 " >

    <nav>
        <div class="sm:float-left  mb-6 sm:mb-0">
            <a class="block w-20 object-contain" href="/">
                <img  src="/img/logo.svg" alt="LOGO"/>
            </a>
        </div>
        <ul  class="flex flex-row font-mono space-x-2 justify-start  sm:justify-end md:space-x-6 sm:space-x-2">

            {% for item in navdata %}
                <li {% if page.url === item.url %}
                        class="text-red-500"
                    {% endif %} >
                    <a href="{{item.url}}" >{{item.name}}</a>
                </li>
            {% endfor %}

        </ul>
    </nav>
</div>